# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
keystore.properties
local.properties

# macOS specific files
.DS_Store

# Temporary & Log files
*.log
action_log*.txt
compile_output*.txt
*.bak
scratch/

